.upgradePanel{
  .mainMultiplier {
    padding: 1rem 3rem;
  }
  .progressButtons {
    margin-top: 2rem;

    button {
      margin-inline: 8px;
      color: gray;
      span { display: none; }

      &.bought {
        box-shadow: 0 0 0 2px yellow;
      }
    
      &.buyable {
        color: white;
        span {
          display: block;
        }
      }
    }
  }
}